@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap');

.logo{
    font-family: 'Oleo Script Swash Caps', cursive;
}
.topmenu {
    float: right;


}
.topmenu li {
    display: inline;
    padding-left: 40px;
}
